*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

section{
    background-color: #263238;
    height: 616px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.style1{
    margin-top: 120px;
    margin-left: 150px;
}

.text1{
    color: #457B9D;
    font-size: 30px;
}

.text2{
    color: white;
    font-size: 40px;
}